<div class="container">
    <form [formGroup]="angForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" formControlName="email" name="email" [(ngModel)]='user.email'>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
                Vui lòng nhập email! .
            </div>
            <div *ngIf="angForm.controls['email'].errors.email">
                Vui lòng nhập đúng định dạng email!.
            </div>
        </div>
            <button type="button" [disabled]="angForm.pristine || angForm.invalid" (click)="password()"
                class="btn btn-primary">Submit</button>

    </form>
    <p *ngIf="result"></p>


</div>