<div class="container">
    <form *ngIf="token">
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter password" name="password" [(ngModel)]='token.password'>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="button" class="btn btn-primary" (click)="savePassword()">Submit</button>
    </form>


</div>